<!DOCTYPE html>
<html>

<head>
    <title>Project build logs</title>
</head>

<body>

    {{if .List}} Lists of projects:<br> <br> {{range .Items}}

    <a href="/logs?key={{.Key}}">{{.Key}}</a><br><br> {{end}}
    <!-- Yo {{.}}, here are some facinating messages about the current time:<br> -->
    {{else}} Project: <b>{{.Project}}</b> Branch: <b>{{.Branch}} {{if .Note}}(default){{end}}</b> logs:
    <hr> {{if .Stored}} <pre>{{.ExistMsg}}</pre>{{else}}
    <script type="text/javascript">
        // Create a new HTML5 EventSource
        var url = encodeURI("/events?{{if .Key}}key={{.Key}}{{else}}project={{.Project}}&branch={{.Branch}}{{end}}");
        console.log("start get events from " + url)
        var source = new EventSource(url);

        // Create a callback for when a new message is received.
        source.onmessage = function(e) {

            // Append the `data` attribute of the message to the DOM.
            document.body.innerHTML += e.data + '<br>';
        };
    </script>
    {{end}} {{end}}
</body>

</html>